@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  padding: 3rem;
  line-height: 1.7; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: scaleX(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tirtiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.text-center {
  text-align: center; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-2 {
  margin-bottom: 2rem; }

.btn:link, .btn:visited, .btn {
  padding: 1.5rem 4rem;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 10rem;
  border: none;
  animation: slideup 1s ease-in-out;
  position: relative;
  transform: all 0.2s; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::before {
    background-color: #fff; }

.btn-green {
  background-color: #55c57a;
  color: #fff; }
  .btn-green::before {
    background-color: #55c57a; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::before {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::before {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10rem;
  transition: all .4s ease-in-out; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: .3rem;
  transition: all 0.2s ease-in-out;
  font-size: 1.6rem; }

.btn-text:hover, .btn-text:focus {
  color: #fff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition-img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    outline-offset: 2rem; }
    .composition-img-1 {
      left: 0;
      top: -2rem; }
    .composition-img-2 {
      right: 0;
      top: 2rem; }
    .composition-img-3 {
      left: 0;
      top: 10rem; }
    .composition-img:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
    .composition-img:hover .composition-img-img:not(:hover) {
      transform: scale(0.9); }

.feature-box {
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card-side {
    background-color: orange;
    height: 52rem;
    transition: all 0.8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-side-front {
      background-color: #fff; }
    .card-side-back {
      background-color: blueviolet;
      transform: perspective(150rem) rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card-side-front {
    transform: perspective(150rem) rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: perspective(150rem) rotateY(0deg); }
  .card-img {
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-size: cover; }
    .card-img-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
    .card-img-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
    .card-img-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    .card-heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card-heading-span-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
      .card-heading-span-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-5.jpg); }
      .card-heading-span-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-5.jpg); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-price {
    color: #fff;
    margin-bottom: 8rem; }
    .card-price-only {
      text-transform: uppercase;
      color: #fff; }
    .card-price-value {
      font-size: 6rem;
      font-weight: 100;
      color: #fff; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  opacity: 0.2;
  overflow: hidden;
  z-index: -1; }
  .bg-video-content {
    height: 100%;
    object-fit: cover;
    width: 100%; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  border-radius: .3rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg);
  font-size: 1.6rem; }
  .story > * {
    transform: skewX(12deg);
    backface-visibility: hidden;
    overflow: hidden; }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 4rem;
    backface-visibility: hidden;
    outline: none; }
  .story-img {
    object-fit: cover;
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    -webkit-transform: translateX(-3rem) scale(1.4);
    transition: all .5s; }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story-img {
    transform: translateX(-3rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-control {
  width: 90%;
  display: block;
  padding: 1.5rem 2rem;
  color: inherit;
  font-family: inherit;
  border-radius: .2rem;
  border: none;
  transition: all .2s;
  border-bottom: 3px solid transparent; }
  .form-control:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form-control:focus:invalid {
    border-bottom: 3px solid; }
  .form-control::placeholder {
    color: #eee; }
  .form-control::-webkit-input-placeholder {
    color: #eee; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: .7rem 0 0 2rem; }

.form-control:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  width: 49%;
  display: inline-block; }

.form-radio-control {
  display: none; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form-radio-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0; }
  .form-radio-btn::after {
    content: " ";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0; }

.form-radio-control:checked ~ .form-radio-label .form-radio-btn::after {
  opacity: 1; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

.row, .row::after, .row::before {
  width: 100%;
  display: table;
  clear: both; }

div[class^='col'] {
  float: left;
  padding: 0 1.5rem; }

.col12 {
  width: 100%; }

.col9 {
  width: 75%; }

.col6 {
  width: 50%; }

.col4 {
  width: calc(100% / 3); }

.col3 {
  width: 25%; }

.col2 {
  width: calc(100% / 6); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  border-bottom: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
  .logo-box .logo {
    height: 35px; }

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    animation: moveInLeft 1s ease-in-out forwards; }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveinright 1s ease-in-out forwards; }

.footer {
  background-color: #777;
  padding: 10rem 0; }
  .footer-logo {
    width: 15rem;
    margin-bottom: 4rem; }
  .footer-navigation {
    list-style: none;
    border-top: 1px solid #fff;
    padding-top: 2rem;
    display: inline-block; }
  .footer-list {
    display: inline-block; }
    .footer-list:not(:last-child) {
      margin-right: 1.5rem; }
    .footer-list a:link, .footer-list a:visited {
      color: #f7f7f7;
      text-transform: uppercase;
      text-align: none;
      display: inline-block; }
    .footer-list a:hover, .footer-list a:focus {
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      transform: scale(1.2);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer-copyright {
    padding-top: 2rem;
    border-top: 1px solid #fff;
    width: 90%;
    margin-left: auto;
    color: #fff;
    text-align: justify; }

.navigation-toggle {
  background-color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 100;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center; }

.navigation-icon {
  width: 3rem;
  height: .2rem;
  background-color: #000;
  display: inline-block;
  margin-top: calc(3.5rem - 1px);
  position: relative; }
  .navigation-icon::after, .navigation-icon::before {
    content: "";
    width: 3rem;
    height: .2rem;
    position: absolute;
    background-color: #777;
    left: 0;
    transition: all 0.3s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: linear-gradient(#7ed56f, #28b485);
  top: 4.5rem;
  right: 4.5rem;
  z-index: 50;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  position: fixed; }

.navigation-nav {
  position: fixed;
  left: -100%;
  top: 0;
  width: 0;
  height: 100vh;
  text-align: center;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  list-style: none; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all 0.4s ease-in-out; }
  .navigation-link:link span, .navigation-link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation-link:hover, .navigation-link:focus, .navigation-link:active {
  background-position: 100%;
  color: #28b485;
  font-weight: 700; }

.navigation.active .navigation-background {
  transform: scale(80); }

.navigation.active .navigation-nav {
  left: 0%;
  opacity: 1;
  width: 100vw; }

.navigation.active .navigation-icon {
  background-color: transparent; }
  .navigation.active .navigation-icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation.active .navigation-icon::after {
    transform: rotate(-135deg);
    top: 0; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-tours {
  padding: 25rem 0 15rem;
  background-color: #f7f7f7;
  margin-top: -10rem; }

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-feature > * {
    transform: skewY(7deg); }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book-form {
    padding: 6rem 4rem; }
