.bg-video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    height:100%;
    opacity: 0.2;
    overflow: hidden;
    z-index: -1;
    &-content{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}