.section-about{
    background-color:$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-tours{
    padding: 25rem 0 15rem;
    background-color: $color-grey-light-1;
    margin-top:-10rem;
}
.section-feature{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),url(../images/nat-4.jpg);
        background-size: cover;
    background-position: center;
    transform: skewY(-7deg);
    margin-top:-10rem;
    >*{
        transform:skewY(7deg) ;
    }
    }
    .section-stories{
        padding:15rem 0;
        position: relative;
    }
    .section-book{
        padding: 15rem 0;
        background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
    }
    .book{
       background-image: linear-gradient(105deg, rgba(255,255,255,.9) 0% , rgba(255,255,255,.9) 50% ,transparent 50%),url(../images/nat-10.jpg); 
    //    height:50rem;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       border-radius: .3rem;
       box-shadow:  0 1.5rem 4rem rgba($color-dark,.2);
       &-form{
           padding: 6rem 4rem;
       }
    }